body {
  background-color: black;
  color: white;
}

h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.form {
  margin: 20px auto;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.error {
  color: red;
  margin-top: 10px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
